# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directory for instrumented dirs built by nyc
.nyc_output

# Gatsby Files
.cache/
public

# vue-cli build images
dist

# Serverless Webpack directories
.webpack/

# Optional npm cache directory
.npm

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# next.js
.next/
out/

# production
build/

# dependencies
node_modules/
jspm_packages/

# TypeScript cache
*.tsbuildinfo
next-env.d.ts

# User-specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
